body {
    font-family: Arial, sans-serif;
    background: #eee;
}

.card {
    text-align: center;
    width: 500px;
    background: #fff;
    margin: 8px auto;
    padding: 4px;
}

.link {
    display: block;
    padding: 8px;
}

.title {
    margin-bottom: 0;
}

.list-card {
    width: 1000px;
    background: #fff;
    margin: 8px auto;
    padding: 4px;
}

.ingredients-container,
.steps-container {
    text-align: left;
    margin: auto 18px;
}

#description-text {
    text-align: left;
    margin: auto 18px;
}

#hamburger-title {
    margin: 12px;
    padding: 8px;
}